<section>

  <h1><a name="linkToAbout">About</a></h1>

  <div class="circle">
    <a name = "linkToAbout"><img src="assets/img/prof1.jpg" /></a>
  </div>

  <div class="about-content">
    <h2 class="my-name">Vivek Gawande</h2>

    <h3 class="kicker">Programmer // Designer //Student</h3>

    <p class="about"><strong>Vivek likes to create</strong> awesome websites and designs. He likes to spend his time learning new things and increasing his knowledge.
                  As the billionaire Warren Buffet says,<strong> "The more you learn, the more you earn"</strong></p>

  </div>

</section>
