<footer name="linkToContact">

  <h1>Contact</h1>

  <div class="footer">
    <a class="footer-link" href="mailto:vivek040997@gmail.com?subject=Hello" target="_top">vivek040997@gmail.com</a>
  </div>

  <div class="icons">

    <a alt="Follow me on facebook" href="https://www.facebook.com/vivek040997"><img src="/assets/img/icon-fb.png" border=0 height='50' width='50' /> </a>
    <a alt="Follow me on Google+" href="https://plus.google.com/u/0/+VivekGawande1"><img src=".../assets/img/icon-g+.png" border=0 height='50' width='50' /> </a>
    <a alt="Check out my work" href="https://github.com/Vivek-abstract"><img src=".../assets/img/icon-git.png" border=0 height='50' width='50' /> </a>

  </div>

  <h4> &copy; 2016 Vivek Gawande All rights reserved </h4>

</footer>
